.table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  text-align: left;
}

.cell {
  padding: 12px;
  text-align: left;
  font-size: 45px;
}

.inputBox {
  width: 350px;
  padding: 8px;
  font-size: 30px;
  border-radius: 20px;
}

.inputBox2 {
  width: 1000px;
  padding: 8px;
  font-size: 30px;
  border-radius: 20px;
}

.inputBox3 {
  width: 1000px;
  height: 300px;
  padding: 8px;
  font-size: 35px;
  border-radius: 20px;
}
